<!DOCTYPE html>
<html>
  <head>
    <title>Build error</title>
    {{#if liveReloadPath}}
      <script src="{{liveReloadPath}}"></script>
    {{/if}}
  </head>
  <body>
    <h1>Build error</h1>
    {{#if payload.location.file}}
      <p>
        <b><code>{{payload.location.file}}</code></b>{{#if payload.location.line}}, line <b>{{payload.location.line}}</b>{{/if}}
        {{#if payload.location.treeDir}}<span style="color: #888">(in <code>{{payload.location.treeDir}}</code>)</span>{{/if}}
      </p>
    {{/if}}
    <pre><b>{{message}}</b></pre>
    {{#if stack}}
      <hr>
      <pre style="color: #888">{{stack}}</pre>
    {{/if}}
  </body>
</html>
