<!DOCTYPE html>
<html>
  <head>
    <title>Build error</title>
    <script src="/ember-cli-live-reload.js" type="text/javascript"></script>
  </head>
  <body>
    <h1>Build error</h1>
    {{#if file}}
      <p>
        <b><code>{{file}}</code></b>{{#if line}}, line <b>{{line}}</b>{{/if}}
        {{#if treeDir}}<span style="color: #888">(in <code>{{treeDir}}</code>)</span>{{/if}}
      </p>
    {{/if}}
    <p><b><pre>{{{message}}}</pre></b></p>
    {{#if stack}}
      <hr>
      <pre style="color: #888">{{stack}}</pre>
    {{/if}}
  </body>
</html>
