name: CI

on:
  pull_request:
  push:
    # filtering branches here, prevents duplicate builds from pull_request and push
    branches:
      - master
      - 'v*'
    # always run CI for tags
    tags:
      - '*'

  # early issue detection, run CI weekly on Sundays
  schedule:
  - cron:  '0 6 * * 0'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install yarn
      run: npm install -g yarn

    - name: install dependencies
      run: yarn install --frozen-lockfile

    - name: lint
      run: yarn lint

  test:
    name: Test
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        node_version: ['20', '22', '24']

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node_version }}

    - name:  install yarn
      run: npm install -g yarn cross-env

    - name: install dependencies
      run: yarn install --frozen-lockfile

    - name: test
      run: cross-env CI=true yarn test
